.bglogin{
    height: 110%;
    width: 100% ;
    position: absolute; 
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
   
}
.bgregister{
    width:100%;
    height: 140%;
    position: absolute; 
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
   
}
