.cardNew-img {
  height: 200px;
}
.categoryNew-cardDeck {
  justify-content: space-around;
}
.type-Future {
  font-family: Futura;
  src: local("Futura Std");
}
/* .categoryNew-cardDeck p,
.categoryNew-cardDeck h5,
.categoryNew-title {
  font-family: Futura;
  src: local("Futura Std");
} */
.cardNew-card {
  height: 100%;
}
.cardNew-cardFooter {
  padding: 0.2rem 1.25rem;
}
.cardNew-container {
  /* padding: 0 10px 0 10px; */
  margin-bottom: 10px;
}

@media (max-width: 980px) {
  .cardNew-card {
    width: auto;
  }
  .cardNew-card {
    width: auto !important;
  }
  /* .cardNew-container{
        padding: 0 10px 0 10px;
        margin-bottom: 10px;
    } */
}
