.boton{
    background-color: #002682 !important;
    border: none;
}

.destacar{
    color: #ff9506;
    border: none;
}

.editar{
    color: #2c49cc;
    border: none;
}

.eliminar{
    color: #d00006;
    border: none;
}


.button{
    display:inline-block;
    font-size: 15px;
    margin: 20px;
    padding: 10px 0px;
    width: 200px;

}
