.boton{
    background-color: #002682 !important;
    border: none;
}

.destacar{
    color: #ff9506;
    border: none;
}

.editar{
    color: #2c49cc;
    border: none;
}

.eliminar{
    color: #d00006;
    border: none;
}

.button {
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    width: 100px;
    height: 50px;
  }